<script lang="ts" setup>
import "@unocss/reset/tailwind.css";
</script>

<template>
  <div class="h-screen flex flex-col items-center justify-center gap-4 bg-zinc-800">
    <div>
      <h1 class="text-4xl font-semibold text-gray-400">
        PLACEHOLDER:{{ " " }}
      </h1>
    </div>
    <div>
      <h1 class="text-4xl font-semibold text-gray-400">
        PLACEHOLDER:{{ " " }}
      </h1>
    </div>
  </div>
</template>
